// Variables
// ---------------------------------------/

$container-width: 980px !default;
$grid-gutter:     10px !default;

// Colors
$white:             #fff;
$black:             #333;
$primary-color:     #2196F3;
$text-gray:         #666;

// Styles
$text_color:        $black;

// Font stacks
$body-font: "Lora", "Minion Pro", Palatino, Georgia, serif !default;
$heading-font: -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif !default;
$sans-font: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

// The base body size
$body-font-size: 16px !default;

// Monospace font stack
$mono-font: Consolas, "Liberation Mono", Menlo, Courier, monospace !default;